<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-offset-tablet mdl-cell--4-offset-desktop mdl-cell--4-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Welcome</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Welcome to the Non-Player-Games, our purpose is to provide a framework to support
      AI game environment creator and AI game bot developers to play!
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
        [routerLink]="['/introduction']">
        Get Started
      </a>
    </div>
  </div>
</div>
