<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-offset-tablet mdl-cell--2-offset-desktop mdl-cell--8-col mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Get started on Non-Player-Games</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>Here is where you can get started to the game.</p>
      <p>First you will have to register an account with your username and email below:</p>

      <p>Once the registration is completed, you will receive a token which then will
        be used later throughout contest.</p>

      <p>Last but not least, have fun!</p>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="username"
          [(ngModel)]="user.Name">
        <label class="mdl-textfield__label" for="username">Username</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" id="email"
          [(ngModel)]="user.Email">
        <label class="mdl-textfield__label" for="email">Email</label>
      </div>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
        (click)="signup()">
        Sign up
      </a>
    </div>
  </div>
</div>
